<h2>New Form</h2>
<form action="/new" method="post">
  <label for="authorName">Author's name</label>
  <input type="text" name="authorName" id="authorName" />
  <label for="messageText">Message Text</label>
  <input type="text" name="messageText" id="messageText" />
  <button type="submit">SUBMIT</button>
</form>
